<h1>Login example!!!!</h1>
<div class="container">

  <div class="row justify-content-center">

    <div class="col-fluid">
      <div class="card" style="width:25em">
            <div class="card-body">
                <img src="..." class="img-fluid" alt="이미지">
            </div>
      </div>
    </div>
    <div class="col-fluidr">
      <div class="card"style="width:25em">
        <div class="card-body">
          <h4 class="card-title">Welcome</h4>
          {{diagnostic}}
          <form name="form" (ngSubmit)="login()" #userForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" [(ngModel)]="model.username" name="username" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="model.password" name="password" required>
            </div>
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="gotoJoin()">회원가입</button>
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!userForm.form.valid">로그인</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
