<h1>create account!!!!</h1>

<div class="container">
    <div class="card">
        <div class="card-header">
          회원 가입
        </div>
        <div class="card-body">
            <div class="box">
                <!-- fileuploader view component -->
                <form action="#" method="post" class="text-center">
                  <div class="margin-bottom-20">
                    <img class="thumbnail box-center margin-top-20" alt="No image" src="http://www.washaweb.com/tutoriaux/fileupload/imgs/image-temp-220.png">
                  </div>

                  <p>
                    <button type="submit" style="margin-top:1em;" class="btn btn-sm" name="delete"><i class="icon-remove"></i> Remove</button>
                    <button type="submit" style="margin-top:1em;" class="btn btn-primary btn-sm" id="save" name="save"><i class="icon-ok icon-white"></i> Save</button>
                  </p>

                </form>
                <hr>
                <!-- ./fileuploader view component -->
                <div class="row" style="background-color:#E6E6E6">
                  <div class="col-sm-10">
                    <span class="control-fileupload">
                      <label for="file1" class="text-left">Please choose a profile image on your computer.</label>
                      <input type="file" id="file1">
                    </span>
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-primary btn-block">
                      <i class="icon-upload icon-white"></i> Upload
                    </button>
                  </div>

                </div>
        </div>
      </div>




        <div class="row-fluid" style="margin:1rem;">
            <form (ngSubmit)="register()" #userForm="ngForm">
                <div class="form-groupfluid">
                  <label for="inputName4">Choose your username</label>
                  <input type="text" class="form-control" id="inputName4" [(ngModel)]="model.username" placeholder="Username">
                </div>
                <div class="form-row-fluid">
                  <div class="form-group-fluid">
                    <label for="inputPassword4">Create a password</label>
                    <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="model.password" placeholder="Password">
                  </div>
                  <div class="form-group-fluid">
                    <label for="inputPassword4">Confirm your password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                  </div>
                </div>


                <button type="submit" class="btn btn-primary" style="margin:1em; ">Sign in</button>
            </form>
        </div>
      </div>
</div>

<button (click)="goBack()">Back</button>
