<!doctype html>
<html lang="en">


  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>upload!</title>
    

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
  </head>
  <body>
  <!-- Nav -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="col-md-1">
            <a class="navbar-brand" href="#">
                <img src="https://cdn2.iconfinder.com/data/icons/flat-icons-19/512/Globe.png" width="30" height="30" alt="company_icon">
            </a>
        </div>
        <div class="col-md-8">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group input-append">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                            <button type="submit"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" width="30" height="30" alt="search_icon"></button>
                        </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-light my-2 mr-2 my-sm-0" type="button"><img src="http://downloadicons.net/sites/default/files/plus-sign-icon-27952.png" width="30" height="30" alt="write_icon"></button>
            <button class="btn btn-light" type="button">Profile</button>
            <button class="btn btn-light" type="button">Logout</button>
        </div>
    </div>
</nav>
    <div class="container upload">


        <div class="row mt-4"> 
            <div class="col-6 p-5">
                
                <image-upload url="https://httpbin.org/status/200" [max]="1" [extensions]="['jpeg','png']" [style]="customStyle"></image-upload>
                
            </div>
            <div class="col-6 p-4">
                <form>
                    <div class="form-group">
                      <label class="col-form-label" for="formGroupExampleInput">Name</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Product Name">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="formGroupExampleInput2">Comment</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="150 Characters"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput3">Tags</label>
                      <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="#tags">
                    </div>                    
                    
                  </form>
            </div>           
        </div>
        
        <div class="row">
            
          <div class="col"></div>
          <div class="col-fluid full-width">
              <button type="button" class="btn btn-secondary pull-right mt-1 mb-4 mr-4" style="background-color:#ccc" (onclick)="getdata()">Upload</button>              
          </div>            
        </div>      
    </div>
    

    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
